@media (min-width: 360px) and (max-width: 767px) {
  body {
    width: 360px;
  }

  .navigation-list ul,
  .navigation-list .btn {
    display: none;
  }

  .top-section {
    padding: 0;
    height: 650px;
  }

  .top {
    flex-direction: column;
    height: fit-content;
    margin-top: 50px;
  }

  .top-section-container1 {
    width: 100%;
    text-align: center;
    align-items: center;
  }

  .top-section-container2 h1 {
    font-size: 30px;
  }

  .top-section-container2 p {
    font-size: 16px;
  }

  .top-section-icons {
    width: 100%;
  }

  .asana {
    top: 120px;
    left: 260px;
  }

  .atlassian {
    top: 120px;
    left: 30px;
  }

  .google {
    top: 5px;
    left: 10px;
  }

  .weave {
    top: 130px;
    left: 28px;
  }

  .paypal {
    top: 135px;
    right: 50px;
  }

  .calendar {
    top: 335px;
    left: 70px;
  }

  .google-ads {
    top: 310px;
    right: 160px;
  }

  .middle-section {
    height: fit-content;
    margin-bottom: 70px;
  }

  .mid-section p {
    width: fit-content;
    margin: 0;
    margin-left: 9px;
    margin-right: 9px;
    font-size: 20px;
    line-height: 25px;
  }

  .mid-section {
    width: 100%;
    gap: 0;
    height: fit-content;
  }

  .container {
    flex-direction: column;
    width: 80%;
  }

  .line {
    display: none;
  }

  .step {
    flex-direction: row;
    width: 100%;
    gap: 35px;
  }

  .text {
    font-weight: bold;
  }

  .bottom-section {
    width: 100%;
    height: fit-content;
  }

  .Pricing {
    width: 100%;
  }

  .line1 {
    width: 100%;
    flex-direction: column;
    padding: 0;
  }

  .price-box {
    position: relative;
    width: 325px;
    left: 17px;
  }

  .Pricing-icons {
    width: 100%;
    height: fit-content;
  }

  .row1,
  .row2 {
    flex-direction: column;
    height: fit-content;
    width: 100%;
  }

  .puzzle,
  .diamond,
  .cancel,
  .moneyback {
    gap: 0;
    height: inherit;
  }

  .pricing-icons p {
    margin: 0;
    width: 310px;
  }

  .hire-background {
    width: 100%;
  }

  .hire-section {
    flex-direction: column;
  }

  .hire-container {
    padding: 0;
    height: fit-content;
    width: 100%;
  }

  .hire-contents {
    width: 100%;
    align-items: center;
  }

  .hire-contents h2,
  .hire-contents p {
    margin: 0;
  }

  .quote {
    text-align: center;
  }

  .person {
    margin-top: 20px;
    justify-items: center;
  }

  .person img {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .person h3 {
    margin-bottom: 10px;
  }

  .form {
    width: 95%;
    padding: 20px;
    height: fit-content;
  }

  .form h2 {
    margin: 0;
    width: 100%;
    font-size: 19px;
    line-height: 27px;
  }

  .form-group {
    flex-direction: column;
    width: 100%;
  }

  .form-group input {
    width: 100%;
  }

  .form-group-budget {
    width: 100%;
    flex-direction: column;
    height: auto;
  }

  .form-group-budget select {
    width: 100%;
    height: 40px;
    font-weight: bold;
  }

  .checkbox-group input {
    position: relative;
    top: -2px;
    height: 30px;
    width: 30px;
  }

  .checkbox-group label {
    width: 100%;
    font-size: 15px;
    line-height: 22px;
    color: #677788;
  }

  .policy {
    display: none;
  }

  .privacy-links {
    margin: 0;
  }

  .privacy-links a {
    width: 100%;
    margin: 0;
    text-decoration: underline dashed;
    text-underline-offset: 0.2em;
    position: relative;
    left: 47px;
  }

  form .button {
    margin-top: 20px;
  }

  footer {
    height: fit-content;
  }

  .footer-seperator {
    width: 100%;
  }

  .footer-section {
    width: 100%;
    flex-direction: column;
    gap: 20px;
  }

  .footer-logo {
    width: 100%;
    height: fit-content;
    align-items: center;
    gap: 0;
  }

  .footer-frames {
    width: 100%;
    height: fit-content;
  }

  .footer-columns {
    width: 100%;
    flex-direction: column;
    height: fit-content;
    text-align: center;
  }

  .footer-column {
    height: fit-content;
  }

  .footer-logo p {
    margin: 0;
    line-height: 40px;
  }
}
